.form {
    margin: 1.5rem auto;
    border-radius: 6px;
    background-color: var(--primary);
    background: var(--gradiendForm);
    padding: 1rem;
    color: white;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px; 
   }
  
  .input, .button, .h1, .loading{
    color: white;
    margin: auto;
    text-align: center !important;
  }
  
  .button{
    width: 95%;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px; 
  }

  .button:focus{
    background-color: var(--secondary);
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--secondaryButton) !important;
  }

  .icon{
    fill: var(--textColor) !important;
  }

  .actions{
    color: var(--primaryButton);
    background-color: transparent !important;
    margin-top: 0.4rem !important;
    margin: auto;
    border: none;
  }
  
  .loading{
    background-color: white !important;
  }
  
  .actions:focus {
    box-shadow: none !important;
    color: var(--primaryButton);
  }

  .button:hover, .button, .background{
    background-color: var(--primaryButton);
  }

  .button:hover, .button:focus{
    background-color: var(--primaryButton);
    border-width: 1px;
    border-style: solid;
    border-radius: 6px !important;
    border-color: white !important; 
  }

  .button {
    border-width: 1px;
    border-style: solid;
    border-radius: 6px !important;
    border-color: white !important; 
  }
  
  .background{
    width: auto;
    color: white;
  }
 