.div {
    margin-left: 50%;
    text-align: left;
    margin-top: 60%;
    color: white;
    width: auto;
  }

.button, .button:hover{
    margin-top: 5%;
    background-color: var(--secondaryButton);
    border-color: var(--secondaryButton) !important;
}