.form {
    align-items: center !important;
    margin: 1.5rem auto auto 1.5rem !important;
  }

.button, .generateButton, .templateButton, .showButton, .buttonPreview{
    width: 100% !important;
}

.emailfield{
    height: auto;
}

.editor{
    box-sizing: border-box;
    border: 1px solid #ddd;
    color: black !important;
    border-radius: 2px;
    box-shadow: inset 0px 1px 8px -3px #1a1919;
    background: #fefefe;
    margin-bottom: 0.5rem ;
    cursor: text;
}

.showButton{
    margin-top: 0.5rem ;
    margin-bottom: 0.5rem ;
}

.editGenerateScreen {
    height: calc(100vh - 980px) !important;
    overflow: auto;
}

.editExpandedGenerateScreen {
    height: calc(100vh - 610px) !important;
    overflow: auto;
}

.editOtherScreen {
    height: calc(100vh - 920px) !important;
    overflow: auto;
}

.editExpandedOtherScreen {
    height: calc(100vh - 550px) !important;
    overflow: auto;

}

.control{
    width: 100% !important;
    margin-top: 0.3rem !important;
    margin-bottom: 0.5rem !important;
    background-color: var(--primaryLighter);
}

.query, .emailfield, .button, .editor, .para, .generateButton, .templateButton, .buttonPreview{
    margin-top: 0.5rem !important;
}

.para{
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.tags{
    font-weight: bold;
    color: var(--secondaryButton);
}

.generateButton, .generateButton:hover{
    background-color: var(--secondaryButton) !important;
}

.templateButton:focus{
    filter: invert();
}

.field{
    min-width: 100% !important;
    margin-bottom: 0.5rem !important;
    background-color: var(--primaryLighter) !important;
}

.guideButton, .guideButton:focus{
    background-color: transparent !important;
    border-color: transparent !important;
  }

.span{
    margin-bottom: 0.2rem !important;
}

.buttonPreview, .buttonPreview:focus, .buttonPreview:hover{
    background-color: var(--primary);
}

.arrowNext, .arrowPrev{
    box-shadow: none !important;
    outline: none !important;
}