.button{
    border-width: 1px;
    border-style: solid;
    border-radius: 6px !important;
    border-color: white !important; 
    margin-bottom: 1rem;
    background-color: var(--primary);
}

.button:disabled{
    background-color: var(--primaryButton);
}

.selectedButton, .button:hover, .button:focus{
    background-color: var(--secondaryButton) !important;
}

