.form {
    margin: 1.5rem auto auto 1.5rem;
    border-radius: 6px;
    height: auto !important;
    backdrop-filter: blur(10px) !important;
}
  
.col, .header, .row{
    margin-top: 1rem !important;
}  

.materialUIElement{
    min-width: 100% !important;
}

.row{
    background-color: var(--primaryButton);
}

.saveButton, .mainButton, .previewButton{
    margin-top: 1rem;
}

.row{
    border-width: 1px;
    border-style: solid;
    border-radius: 6px !important;
    border-color: white !important; 
}

.saveButton, .saveButton:hover{
    background-color: var(--primaryLighter);
}

.mainButton, .label, .previewButton, .saveButton{
    width: 100% !important;
}

.mainButton, .label, .saveButton{
    margin-bottom: 0rem !important;   
}

.editor{
    background-color: white !important;
    color: black !important;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.label{
    padding: 0rem !important;
}


.textFieldRow{
    margin-top: 1rem;
    align-content: center !important;
    align-items: center !important;
}