.templateButton{
    width: auto;
    height: auto !important;
    background-color: var(--primary) !important;
}

.templateColumn{
    width: auto !important;
    margin: 0.25rem;
    align-items: center !important;
}

.column, .templateColumn{
    text-align: center !important;
}

.column{
    margin-top: 1rem !important;
}

.templateRow{
    justify-content: center !important;
}

.control{
    width: 100% !important;
    margin-top: 0.3rem !important;
    margin-bottom: 0.5rem !important;
}

.control{
    background-color: var(--primaryLighter);
}