.buttonYes, .buttonYes:hover, .buttonYes:focus{
    background-color: var(--primaryButton);
    border: none;
}

.buttonNo, .buttonNo:hover, .buttonNo:focus{
    background-color:  var(--primary);
    border: none;
}

.modalText{
    color: var(--primary);
}
