.header{
    color: var(--primary)!important;
}

.body{
    width: fit-content !important;
    height: fit-content !important;
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
}

.bodyWithoutWidth, .bodyWithoutWidthAndBackground{
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
}

.bodyWithoutWidthAndBackground{
    background-color: var(--secondary) !important;}