.information{
    height: 100%;
    align-items: center !important;
    justify-content: center !important;
}

.textfield{
    margin-bottom: 1rem !important;
}

.button, .textfield, .control{
    width: 100%;
}

.row{
    justify-content: center !important;
    flex-shrink: 1;
}

.col{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.para{
    margin-bottom: 0.2rem !important;
}

.editRow{
    flex-shrink: 1 !important;
    justify-content: center !important;
}

.h1{
    text-align: center !important;
}

.textfield, .control{ 
    background-color: var(--primaryLighter) !important;
}

.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    color: black !important;
    border-radius: 2px;
    box-shadow: inset 0px 1px 8px -3px #ababab;
    background: #fefefe;
    margin-bottom: 1rem;
    cursor: text;
  }

.edit {
    height: calc(100vh - 250px) !important;
    overflow: auto;
}

.autocomplete{
    color: white !important;
    border-color: white !important;
}