.form {
  padding: 1rem;
  margin: 1.5rem;
  align-items: center !important;
}

.actions {
  text-align: center !important;
}

.guideButton{
  background-color: transparent !important;
  border-color: transparent !important;
}

.button,
.actions {
  width: 100% !important;
}

.icon {
  color: white !important;
  fill: var(--bulbIconColor) !important;
  margin-bottom: 0.5rem;
}

.control,
.textfield {
  width: 35%;
  color: white;
}

.table,
.loading,
.actions,
.button,
.form {
  max-width: 50rem !important;
}

.div {
  margin-top: 1rem;
  height: 3rem;
  margin-bottom: 2rem !important;
}

.importer {
  width: auto !important;
}

.dropdown {
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: rgba(255, 255, 255, 0) !important;
  align-items: center !important;
}

.dropdown::after {
  display: none !important;
  box-shadow: none !important;
}

.dropdown:focus,
.dropdown:active {
  outline: none !important;
  box-shadow: none !important;
}

.control{
  background-color: var(--primaryLighter);
}