.form{
    height: 100% !important;
}

.arrowDown{
    color: red;
}

.arrowUp{
    color: greenyellow;
}

.arrowDown, .arrowUp, .title{
    font-size: large;
}

.stats{
    font-size: larger;
    font-weight: bolder;
}

.rate, .sub{
    font-size: small;
}

.statistics{
    align-items: center;
    justify-content: center;
}
