.button {
  background-color: white;
  color: var(--primary);
}

.navbar{
  background: var(--primary);
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px; 
}

.container {
  padding-left: 150px !important;
  padding-right: 150px !important;
}

.brand{
  font-size: larger !important;
}

.navlink{
  text-decoration: none;
  color: white !important;
}








