$sidebar-bg-color: var(--gradientSidebar) !default;
$sidebar-color: #ffffff !default;
$highlight-color: var(--secondaryButton) !default;
$submenu-bg-color: var(--primary) !default;
$icon-bg-color: none !default;
$submenu-bg-color-collapsed: var(--primary) !default;
@import 'react-pro-sidebar/dist/scss/styles.scss';

