body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary: #2A1E5C;
  --primaryLighter: #3d2c87;
  --secondary: #392061;
  --primaryButton: #5e70bc;
  --secondaryButton: #FE7F2D;
  --additionalColor: #DAE2DF;
  --primaryButtonDarker: #4b5fb4;
  
  --textColor: var(--secondaryButton); 
  --gradientHeader: linear-gradient(-90deg, var(--secondary) 100%);
  --gradientSidebar: linear-gradient(-45deg, var(--primary) 0%, var(--secondary) 100%);
  --gradiendForm: linear-gradient(120deg, var(--primary) 35%, var(--secondary) 100%);

  --secondaryButtonDisabled: #ffaf7a;
  --deleteButtonDisabled: rgb(255, 129, 129);
  --bulbIconColor: #ffbb73;
  --primaryDisabled: rgb(98, 93, 117);
} 