.table{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: var(--primary) !important;
}

.table, .form, .emailListAdd{
  background-color: var(--additionalColor);
}

.editButton, .sendButton {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  margin-right: 20px;
}


.addButton {
  border: none;
  color: var(--primary);
  text-transform: uppercase;
  padding-left: 0px;
  margin-left: 0px;
  background-color: var(--additionalColor);
}

.deleteIcon {
  cursor: pointer;
  fill: #ff4949 !important;
}

.deleteButton{
  background-color: transparent !important;
  border: none !important;
  background: none !important;
}

.descButton, .descButton:focus{
  background-color: transparent !important;
  border-color: transparent !important;
}

.deleteIconDisabled {
  fill: var(--deleteButtonDisabled)!important;
}

.sendButton{
  background-color: var(--secondaryButton) !important;
}

.sendButton:disabled{
  background-color: var(--secondaryButtonDisabled) !important;
} 

.editButton:disabled{
  background-color: var(--primaryDisabled) !important;
}

.loading{
  color: var(--secondaryButton) !important;
}
